In [72]:
import pandas as pd

### Game summary

In [91]:
game_summary = pd.read_csv('data/game_summary.csv')
game_summary

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time,natl_tv_broadcaster_abbreviation,live_period_time_bcast,wh_status
0,1946-11-01 00:00:00,NaN,24600001,3,NaN,19461101/NYKHUS,1610610035,1610612752,1946,5,NaN,NaN,Q5 -,1
1,1946-11-02 00:00:00,NaN,24600003,3,NaN,19461102/PITBOM,1610610034,1610610031,1946,4,NaN,NaN,Q4 -,1
2,1946-11-02 00:00:00,NaN,24600002,3,NaN,19461102/BOSPRO,1610610032,1610612738,1946,4,NaN,NaN,Q4 -,1
3,1946-11-02 00:00:00,NaN,24600004,3,NaN,19461102/NYKCHS,1610610025,1610612752,1946,4,NaN,NaN,Q4 -,1
4,1946-11-02 00:00:00,NaN,24600005,3,NaN,19461102/WASDEF,1610610028,1610610036,1946,4,NaN,NaN,Q4 -,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58105,2023-06-07 00:00:00,1.0,42200403,3,Final,20230607/DENMIA,1610612748,1610612743,2022,4,,ABC,Q4 - ABC,1
58106,2023-06-09 00:00:00,1.0,42200404,3,Final,20230609/DENMIA,1610612748,1610612743,2022,4,,ABC,Q4 - ABC,1
58107,2023-06-12 00:00:00,1.0,42200405,3,Final,20230612/MIADEN,1610612743,1610612748,2022,4,,ABC,Q4 - ABC,1
58108,2023-02-19 00:00:00,1.0,32200001,3,Final,20230219/GNSLBN,1610616834,1610616833,2022,4,,TNT/TBS,Q4 - TNT/TBS,1
58109,2023-02-19 00:00:00,1.0,32200001,3,Final,20230219/GNSLBN,1610616834,1610616833,2022,4,,TNT/TBS,Q4 - TNT/TBS,1

In [92]:
game_summary = game_summary[['game_date_est', 'game_id', 'season']]

In [93]:
game_summary = game_summary.groupby(['game_id', 'season']).count()

In [94]:
game_summary = game_summary[game_summary['game_date_est'] == 1]

In [95]:
game_summary = game_summary.reset_index()

In [96]:
game_summary = game_summary.iloc[:,[0,1]]

In [97]:
game_summary.head(5)

    game_id  season
0  10500001    2005
1  10500002    2005
2  10500003    2005
3  10500004    2005
4  10500005    2005

In [10]:
game_summary.to_csv('GeneratedData/GameSummary.csv', index = False)

### Game info

In [133]:
game_info = pd.read_csv('data/game_info.csv')

In [135]:
game_info = game_info[['game_id', 'game_date', 'attendance']]

In [136]:
game_info = game_info.drop_duplicates()

In [137]:
game_info.head(5)

    game_id            game_date  attendance
0  24600001  1946-11-01 00:00:00         NaN
1  24600003  1946-11-02 00:00:00         NaN
2  24600002  1946-11-02 00:00:00         NaN
3  24600004  1946-11-02 00:00:00         NaN
4  24600005  1946-11-02 00:00:00         NaN

In [138]:
game_info.to_csv('GeneratedData/GameInfo.csv', index = False)

### Game

In [139]:
game = pd.read_csv('data/game.csv')

In [106]:
game

,team_id_home,game_id,game_date,wl_home,min,fgm_home,fga_home,fg_pct_home,fg3m_home,fg3a_home,...,oreb_away,dreb_away,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,season_type
0,1610612748,29900423,2000-01-02 00:00:00,W,265,38,93,"0,409",8,19,...,21,42,63,17,6,5,21,32,103,Regular Season
1,1610612753,29900427,2000-01-03 00:00:00,L,240,40,79,"0,506",5,7,...,20,28,48,30,13,5,14,27,118,Regular Season
2,1610612764,29900426,2000-01-03 00:00:00,W,240,40,84,"0,476",5,11,...,10,25,35,25,9,4,20,24,87,Regular Season
3,1610612762,29900429,2000-01-03 00:00:00,W,240,44,87,"0,506",5,11,...,12,26,38,21,5,6,18,22,89,Regular Season
4,1610612741,29900428,2000-01-03 00:00:00,L,240,26,77,"0,338",2,10,...,5,34,39,30,20,9,23,22,88,Regular Season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25788,1610612764,21900492,2019-12-30 00:00:00,W,240,43,84,"0,512",17,37,...,10,34,44,18,5,1,19,22,105,Regular Season
25789,1610612741,21900493,2019-12-30 00:00:00,L,240,40,107,"0,374",17,44,...,10,49,59,29,6,9,18,17,123,Regular Season
25790,1610612753,21900491,2019-12-30 00:00:00,L,240,37,89,"0,416",5,25,...,11,41,52,21,8,4,21,20,101,Regular Season
25791,1610612762,21900495,2019-12-30 00:00:00,W,240,39,83,"0,47",10,26,...,10,33,43,14,10,5,17,20,81,Regular Season
25792,1610612757,21900496,2019-12-30 00:00:00,L,240,44,96,"0,458",14,34,...,10,34,44,29,6,4,11,17,122,Regular Season

In [140]:
game = game[['game_id', 'team_id_home', 'team_id_away', 'game_date', 'wl_home', 'min', 'fgm_home',
       'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
       'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
       'pts_home', 'wl_away',
       'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away',
       'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away',
       'season_type']]

In [141]:
game.loc[:,['fgm_home', 'fga_home', 'fg3m_home', 'fg3a_home', 'ftm_home', 'fta_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home','pts_home',
       'fgm_away', 'fga_away', 'fg3m_away', 'fg3a_away', 'ftm_away', 'fta_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away']] = game.loc[:,[ 'fgm_home', 'fga_home', 'fg3m_home', 'fg3a_home', 'ftm_home', 'fta_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home','pts_home',
       'fgm_away', 'fga_away', 'fg3m_away', 'fg3a_away', 'ftm_away', 'fta_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away']].astype(int)

In [118]:
 pd.options.mode.copy_on_write = True

In [142]:
game = game.drop_duplicates()

In [143]:
game = game.dropna()

In [144]:
game = game[game['fg_pct_home'] !='nan']
game = game[game['ft_pct_away'] !='nan']

In [145]:
game = game[game['season_type'] != 'All-Star']

In [146]:
game.to_csv('GeneratedData/Game.csv', index=False)