In [1]:
import pandas as pd

### Game summary

In [2]:
game_summary = pd.read_csv('data/game_summary.csv')
game_summary

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time,natl_tv_broadcaster_abbreviation,live_period_time_bcast,wh_status
0,1946-11-01 00:00:00,NaN,24600001,3,NaN,19461101/NYKHUS,1610610035,1610612752,1946,5,NaN,NaN,Q5 -,1
1,1946-11-02 00:00:00,NaN,24600003,3,NaN,19461102/PITBOM,1610610034,1610610031,1946,4,NaN,NaN,Q4 -,1
2,1946-11-02 00:00:00,NaN,24600002,3,NaN,19461102/BOSPRO,1610610032,1610612738,1946,4,NaN,NaN,Q4 -,1
3,1946-11-02 00:00:00,NaN,24600004,3,NaN,19461102/NYKCHS,1610610025,1610612752,1946,4,NaN,NaN,Q4 -,1
4,1946-11-02 00:00:00,NaN,24600005,3,NaN,19461102/WASDEF,1610610028,1610610036,1946,4,NaN,NaN,Q4 -,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58105,2023-06-07 00:00:00,1.0,42200403,3,Final,20230607/DENMIA,1610612748,1610612743,2022,4,,ABC,Q4 - ABC,1
58106,2023-06-09 00:00:00,1.0,42200404,3,Final,20230609/DENMIA,1610612748,1610612743,2022,4,,ABC,Q4 - ABC,1
58107,2023-06-12 00:00:00,1.0,42200405,3,Final,20230612/MIADEN,1610612743,1610612748,2022,4,,ABC,Q4 - ABC,1
58108,2023-02-19 00:00:00,1.0,32200001,3,Final,20230219/GNSLBN,1610616834,1610616833,2022,4,,TNT/TBS,Q4 - TNT/TBS,1
58109,2023-02-19 00:00:00,1.0,32200001,3,Final,20230219/GNSLBN,1610616834,1610616833,2022,4,,TNT/TBS,Q4 - TNT/TBS,1

In [3]:
game_summary = game_summary[['game_date_est', 'game_id', 'season']]

In [4]:
game_summary = game_summary.groupby(['game_id', 'season']).count()

In [5]:
game_summary = game_summary[game_summary['game_date_est'] == 1]

In [8]:
game_summary = game_summary.reset_index()

In [9]:
game_summary = game_summary.iloc[:,[0,1]]

In [21]:
game_summary.head(5)

    game_id  season
0  10500001    2005
1  10500002    2005
2  10500003    2005
3  10500004    2005
4  10500005    2005

In [10]:
game_summary.to_csv('GeneratedData/GameSummary.csv', index = False)

### Game info

In [11]:
game_info = pd.read_csv('data/game_info.csv')

In [13]:
game_info.loc[:,['attendance']] = game_info.loc[:,['attendance']].fillna(value=17398)

In [15]:
game_info[['attendance']] =game_info[['attendance']].astype(int)

In [17]:
game_info = game_info[['game_id', 'game_date', 'attendance']]

In [18]:
game_info = game_info.drop_duplicates()

In [22]:
game_info.head(5)

    game_id            game_date  attendance
0  24600001  1946-11-01 00:00:00       17398
1  24600003  1946-11-02 00:00:00       17398
2  24600002  1946-11-02 00:00:00       17398
3  24600004  1946-11-02 00:00:00       17398
4  24600005  1946-11-02 00:00:00       17398

In [20]:
game_info.to_csv('GeneratedData/GameInfo.csv', index = False)

### Game

In [55]:
game = pd.read_csv('data/game.csv')

In [56]:
game = game[['team_id_home',
       'game_id', 'game_date', 'wl_home', 'min', 'fgm_home',
       'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
       'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
       'pts_home', 'team_id_away', 'wl_away',
       'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away',
       'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away',
       'season_type']]

In [57]:
game.loc[:,['fgm_home', 'fga_home', 'fg3m_home', 'fg3a_home', 'ftm_home', 'fta_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home','pts_home',
       'fgm_away', 'fga_away', 'fg3m_away', 'fg3a_away', 'ftm_away', 'fta_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away']] = game.loc[:,[ 'fgm_home', 'fga_home', 'fg3m_home', 'fg3a_home', 'ftm_home', 'fta_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home','pts_home',
       'fgm_away', 'fga_away', 'fg3m_away', 'fg3a_away', 'ftm_away', 'fta_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away']].astype(int)

In [58]:
 pd.options.mode.copy_on_write = True

In [59]:
game['fg_pct_home'] = game['fg_pct_home'].astype(str).str.replace('.', ',')

In [60]:
game['fg3_pct_home'] = game['fg3_pct_home'].astype(str).str.replace('.', ',')

In [61]:
game['ft_pct_home'] = game['ft_pct_home'].astype(str).str.replace('.', ',')

In [62]:
game['fg_pct_away'] = game['fg_pct_away'].astype(str).str.replace('.', ',')

In [63]:
game['fg3_pct_away'] = game['fg3_pct_away'].astype(str).str.replace('.', ',')

In [64]:
game['ft_pct_away'] = game['ft_pct_away'].astype(str).str.replace('.', ',')

In [65]:
game = game.drop_duplicates()

In [66]:
game = game.dropna()

In [68]:
game = game[game['fg_pct_home'] !='nan']
game = game[game['ft_pct_away'] !='nan']

In [69]:
game = game[game['season_type'] != 'All-Star']

In [70]:
game.to_csv('GeneratedData/Game.csv', index=False)